*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/*
app/release
/data/build/
/iap/build/
/iapApi/build/
/list/build/.transforms/
/list/build/
