*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/*
app/release
/detailsApi/build/
/details/build/
/listApi/build
/list/build
/iapApi/build/
/iap/build
/theme/build
/createApi/build/
